<h1>Students list</h1>

<!-- Add student modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a new student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #studentForm="ngForm" (ngSubmit)="addStudent()">
        <div class="modal-body">
          <div class="form-group">
            <label for="lastName">Last name</label>
            <input type="text" required [(ngModel)]="studentFormModel.lastName" name="lastName" class="form-control" id="inputLastName" placeholder="Enter the student's last name">
          </div>
          <div class="form-group">
            <label for="middleName">Middle name</label>
            <input type="text" [(ngModel)]="studentFormModel.middleName" name="middleName" class="form-control" id="inputMiddleName" placeholder="Enter the student's middle name">
          </div>
          <div class="form-group">
            <label for="firstName">First name</label>
            <input type="text" required [(ngModel)]="studentFormModel.firstName" name="firstName" class="form-control" id="inputLastName" placeholder="Enter the student's first name">
          </div>
          <div class="form-group">
            <label for="gender">Gender</label>
            <select required [(ngModel)]="studentFormModel.gender" name="gender" class="form-control" id="inputGender">
              <option>other</option>
              <option>male</option>
              <option>female</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" #closeAddStudentModal data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="addStudent()">Save changes</button>
       </div>
      </form>
    </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Last name</th>
      <th scope="col">First name</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <th scope="row">{{ student.id }}</th>
      <td>{{ student.lastName }}</td>
      <td>{{ student.firstName }} {{ student.middleName }}</td>
      <td>
        <a routerLink="/students/{{ student.id }}"><i class="fa fa-eye text-primary"></i></a>
        <a (click)="deleteStudent(student.id)"><i class="fa fa-trash text-danger"></i></a>
      </td>
    </tr>
  </tbody>
</table>

<div class="container container-buttons">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus"></i>Add student</button>
</div>