<h1>Student detail: {{ student?.firstName }} {{ student?.middleName }} {{ student?.lastName }}</h1>

<h2>Student information</h2>
  <form #studentForm="ngForm" (ngSubmit)="editStudent()">
    <div class="form-group">
      <label for="lastName">Last name</label>
      <input [disabled]="!editMode" type="text" required [(ngModel)]="studentFormModel.lastName" name="lastName" class="form-control" id="inputLastName" placeholder="Enter the student's last name">
    </div>
    <div class="form-group">
      <label for="middleName">Middle name</label>
      <input [disabled]="!editMode" type="text" [(ngModel)]="studentFormModel.middleName" name="middleName" class="form-control" id="inputMiddleName" placeholder="Enter the student's middle name">
    </div>
    <div class="form-group">
      <label for="firstName">First name</label>
      <input [disabled]="!editMode" type="text" required [(ngModel)]="studentFormModel.firstName" name="firstName" class="form-control" id="inputLastName" placeholder="Enter the student's first name">
    </div>
    <div class="form-group">
      <label for="gender">Gender</label>
      <select [disabled]="!editMode" required [(ngModel)]="studentFormModel.gender" name="gender" class="form-control" id="inputGender">
        <option>other</option>
        <option>male</option>
        <option>female</option>
      </select>
    </div>
    <div class="container container-buttons">
      <button *ngIf="!editMode" type="button" class="btn btn-primary" (click)="activateEditMode()"><i class="fa fa-edit"></i>Edit user</button>
      <button *ngIf="editMode" type="button" class="btn btn-success" (click)="editStudent()"><i class="fa fa-floppy-o"></i>Save changes</button>
      <button *ngIf="editMode" type="button" class="btn btn-secondary" (click)="discardChanges()"><i class="fa fa-trash"></i>Discard changes</button>
    </div>
  </form>

<h2>Emails</h2>
<table class="table" *ngIf="student?.emails.length > 0">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email</th>
      <th scope="col">Type</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let email of student?.emails">
      <th scope="row">{{ email.id }}</th>
      <td>{{ email.emailString }}</td>
      <td>{{ email.emailType | titlecase }}</td>
      <td>
        <a (click)="setEmailModel(email)" data-toggle="modal" data-target="#addEmailModal"><i class="fa fa-edit text-primary"></i></a>
        <a (click)="deleteEmail(email.id)" ><i class="fa fa-trash text-danger"></i></a>
      </td>
    </tr>
  </tbody>
</table>

<div class="container container-buttons">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addEmailModal"><i class="fa fa-plus"></i>Add email</button>
</div>

<h2>Addresses</h2>
<table class="table" *ngIf="student?.addresses.length > 0">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Address</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Zip</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let address of student.addresses">
      <th scope="row">{{ address.id }}</th>
      <td>{{ address.addressLine }}</td>
      <td>{{ address.city }}</td>
      <td>{{ address.state }}</td>
      <td>{{ address.zipPostcode }}</td>
      <td>
        <a (click)="setAddressModel(address)" data-toggle="modal" data-target="#addAddressModal"><i class="fa fa-edit text-primary"></i></a>
        <a (click)="deleteAddress(address.id)" ><i class="fa fa-trash text-danger"></i></a>
      </td>
    </tr>
  </tbody>
</table>

<div class="container container-buttons">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addAddressModal"><i class="fa fa-plus"></i>Add address</button>
</div>

<h2>Phone numbers</h2>
<table class="table" *ngIf="student?.phones.length > 0">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Phone number</th>
      <th scope="col">Type</th>
      <th scope="col">Country code</th>
      <th scope="col">Area code</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let phone of student.phones">
      <th scope="row">{{ phone.id }}</th>
      <td>{{ phone.phoneNumber }}</td>
      <td>{{ phone.phoneType | titlecase }}</td>
      <td>{{ phone.countryCode }}</td>
      <td>{{ phone.areaCode }}</td>
      <td>
        <a (click)="setPhoneModel(phone)" data-toggle="modal" data-target="#addPhoneModal"><i class="fa fa-edit text-primary"></i></a>
        <a (click)="deletePhone(phone.id)" ><i class="fa fa-trash text-danger"></i></a>
      </td>
    </tr>
  </tbody>
</table>

<div class="container container-buttons">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addPhoneModal"><i class="fa fa-plus"></i>Add phone number</button>
</div>

<!-- Add email modal -->
<div class="modal fade" id="addEmailModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="!editModeModal" class="modal-title">Add a new email</h5>
        <h5 *ngIf="editModeModal" class="modal-title">Edit email</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #addEmailForm="ngForm" (ngSubmit)="addEmail()">
        <div class="modal-body">
          <div class="form-group">
            <label for="emailString">Email</label>
            <input type="text" required [(ngModel)]="emailFormModel.emailString" name="emailString" class="form-control" id="inputEmailString" placeholder="student@example.com">
          </div>
          <div class="form-group">
            <label for="emailType">Email type</label>
            <select required [(ngModel)]="emailFormModel.emailType" name="emailType" class="form-control" id="inputEmailType">
              <option>other</option>
              <option>personal</option>
              <option>work</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" #closeAddEmailModal data-dismiss="modal" (click)="dismissModalEdit()">Close</button>
          <button *ngIf="!editModeModal" type="button" class="btn btn-primary" (click)="addEmail()">Add email</button>
          <button *ngIf="editModeModal" type="button" class="btn btn-primary" (click)="editEmail()">Save changes</button>
       </div>
      </form>
    </div>
  </div>
</div>

<!-- Add address modal -->
<div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="!editModeModal" class="modal-title">Add a new address</h5>
        <h5 *ngIf="editModeModal" class="modal-title">Edit address</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #addAddressForm="ngForm" (ngSubmit)="addAddress()">
        <div class="modal-body">
          <div class="form-group">
            <label for="addressLine">Address</label>
            <input type="text" required [(ngModel)]="addressFormModel.addressLine" name="addressLine" class="form-control" id="inputAddressLine" placeholder="Address">
          </div>
          <div class="form-group">
            <label for="city">City</label>
            <input type="text" required [(ngModel)]="addressFormModel.city" name="city" class="form-control" id="inputCity" placeholder="City">
          </div>
          <div class="form-group">
            <label for="state">State</label>
            <input type="text" required [(ngModel)]="addressFormModel.state" name="state" class="form-control" id="inputState" placeholder="State">
          </div>
          <div class="form-group">
            <label for="zipPostcode">Zip</label>
            <input type="text" required [(ngModel)]="addressFormModel.zipPostcode" name="zipPostcode" class="form-control" id="inputZipPostcode" placeholder="Zip">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" #closeAddAddressModal data-dismiss="modal" (click)="dismissModalEdit()">Close</button>
          <button *ngIf="!editModeModal" type="button" class="btn btn-primary" (click)="addAddress()">Add address</button>
          <button *ngIf="editModeModal" type="button" class="btn btn-primary" (click)="editAddress()">Save changes</button>
       </div>
      </form>
    </div>
  </div>
</div>

<!-- Add phone modal -->
<div class="modal fade" id="addPhoneModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="!editModeModal" class="modal-title">Add a new phone</h5>
        <h5 *ngIf="editModeModal" class="modal-title">Edit phone</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #addAddressForm="ngForm">
        <div class="modal-body">
          <div class="form-group">
            <label for="phoneNumber">Phone number</label>
            <input type="text" required [(ngModel)]="phoneFormModel.phoneNumber" name="phoneNumber" class="form-control" id="inputPhoneNumber" placeholder="Phone number">
          </div>
          <div class="form-group">
            <label for="phoneType">Phone type</label>
            <select required [(ngModel)]="phoneFormModel.phoneType" name="phoneType" class="form-control" id="inputFormType">
              <option>other</option>
              <option>home</option>
              <option>work</option>
              <option>mobile</option>
            </select>
          </div>
          <div class="form-group">
            <label for="countryCode">Country code</label>
            <input type="text" required [(ngModel)]="phoneFormModel.countryCode" name="countryCode" class="form-control" id="inputCountryCode" placeholder="Country code">
          </div>
          <div class="form-group">
            <label for="countryCode">Area code</label>
            <input type="text" required [(ngModel)]="phoneFormModel.areaCode" name="areaCode" class="form-control" id="inputAreaCode" placeholder="Area code">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" #closeAddPhoneModal data-dismiss="modal" (click)="dismissModalEdit()">Close</button>
          <button *ngIf="!editModeModal" type="button" class="btn btn-primary" (click)="addPhone()">Add phone</button>
          <button *ngIf="editModeModal" type="button" class="btn btn-primary" (click)="editPhone()">Save changes</button>
       </div>
      </form>
    </div>
  </div>
</div>